<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TAYA</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<script th:src="@{/js/paging.js}"></script>
<link th:href="@{/css/paging.css}" rel="stylesheet" />
</head>

<body>
	<div ng-app="app">
		<div ng-controller="ExampleController as vm" class="container">
			<div class="text-center">
				<h1>AngularJS - Pagination Example</h1>

				<!-- items being paged -->
				<div ng-repeat="item in vm.items">Item {{item}}</div>

				<!-- pager -->
				<ul ng-if="vm.pager.pages.length" class="pagination">
					<li ng-class="{disabled:vm.pager.currentPage === 1}"><a
						ng-click="vm.setPage(1)">First</a></li>
					<li ng-class="{disabled:vm.pager.currentPage === 1}"><a
						ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a></li>
					<li ng-repeat="page in vm.pager.pages"
						ng-class="{active:vm.pager.currentPage === page}"><a
						ng-click="vm.setPage(page)">{{page}}</a></li>
					<li
						ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
						<a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
					</li>
					<li
						ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
						<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
					</li>
				</ul>
			</div>
		</div>
		<hr />
	</div>
</body>
</html>